*.gb
gb
a.out
gb_asan
gb_debug
gb_g
debug_out.txt
tests/test_savestate_bin
deps/
dist/
*.cbor
test_savestate_bin
debug_out.txt
ws_server_html.h
*.sav
build/
*.dSYM/
.DS_Store
roms/
tests/assets/
gb-server
